<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="secondary" *ngFor="let actividad of actividades" >
    <img (click)="goToTab1(actividad.id)" alt="Silhouette of mountains" src={{actividad.img}} />
    <ion-card-header>
      <ion-card-title>{{actividad.titulo}}</ion-card-title>
      <ion-card-subtitle>{{actividad.subtitulo}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{actividad.descripcion}}
    </ion-card-content>

    <ion-button color="danger" (click)="pasarDatos()">Hola</ion-button>
  </ion-card>
</ion-content>
